p {
  font-size: 16px;
  font-weight: 400;
  color: #212529;
}

h1.h1 {
  font-size: 60px;
  font-weight: 600;
  color: #ffffff;
}

h2.h2 {
  font-size: 40px;
  font-weight: 300;
  color: #000000;
}

h5.h5 {
  font-size: 30px;
  font-weight: 500;
  color: #000000;
}

h6.h6 {
  font-size: 18px;
  font-weight: 300;
}

@media (min-width: 992px) and (max-width: 1199px) {
  h1.h1 {
    font-size: 42px;
  }
  h2.h2 {
    font-size: 26px;
  }
  h5.h5 {
    font-size: 20px;
  }
  h6.h6 {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1.h1 {
    font-size: 38px;
  }
  h2.h2 {
    font-size: 32px;
  }
  h5.h5 {
    font-size: 18px;
  }
  h6.h6 {
    font-size: 16px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  h1.h1 {
    font-size: 32px;
  }
  h2.h2 {
    font-size: 28px;
  }
  h5.h5 {
    font-size: 18px;
  }
  h6.h6 {
    font-size: 16px;
  }
}
@media (min-width: 300px) and (max-width: 575px) {
  h1.h1 {
    font-size: 25px;
  }
  h2.h2 {
    font-size: 22px;
  }
  h5.h5 {
    font-size: 20px;
  }
  h6.h6 {
    font-size: 13px;
  }
}
header {
  position: relative;
  z-index: 99;
}
header.header-section {
  padding: 15px 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
}
header.header-section .header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header.header-section .header-main .left .logo-container {
  height: 30px;
  width: 140px;
}
header.header-section .header-main .left .logo-container img {
  -o-object-fit: contain;
  object-fit: contain;
  height: 100%;
  width: 100%;
}
header.header-section .header-main .right {
  z-index: 99;
}
header.header-section .header-main .right .header-list-container ul li {
  display: inline-block;
  margin: 0px 20px;
}
header.header-section .header-main .right .header-list-container ul li .header-link {
  font-size: 16px;
  font-weight: 500;
  color: #303030;
}
header.header-section .header-main .right .header-list-container ul li.language-dropdown-container {
  margin-left: 50px;
  position: relative;
}
header.header-section
  .header-main
  .right
  .header-list-container
  ul
  li.language-dropdown-container
  .language-dropdown-button {
  display: flex;
  align-items: center;
  border: none;
}
header.header-section
  .header-main
  .right
  .header-list-container
  ul
  li.language-dropdown-container
  .language-dropdown-button
  .dropdown-icon-span {
  margin-left: 10px;
}
header.header-section
  .header-main
  .right
  .header-list-container
  ul
  li.language-dropdown-container
  .language-dropdown-button
  .dropdown-icon-span
  .header-dropdown-icon {
  height: 8px;
  width: 12px;
  -o-object-fit: contain;
  object-fit: contain;
}
header.header-section .header-main .right .header-list-container ul li.language-dropdown-container .language-sublist {
  position: absolute;
  background: #ffffff;
  width: 80px;
  padding: 10px;
  border-radius: 5px;
  left: 0;
  top: 20px;
  display: none;
  box-shadow: 0px 4px 20px rgba(168, 186, 201, 0.15);
}
header.header-section
  .header-main
  .right
  .header-list-container
  ul
  li.language-dropdown-container
  .language-sublist
  .language-sublist-item {
  display: block;
  width: 100%;
  margin: 0px;
  margin-bottom: 10px !important;
  cursor: pointer;
}
header.header-section
  .header-main
  .right
  .header-list-container
  ul
  li.language-dropdown-container
  .language-sublist
  .language-sublist-item
  span {
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}
header.header-section
  .header-main
  .right
  .header-list-container
  ul
  li.language-dropdown-container
  .language-sublist
  .language-sublist-item
  span.language-flag-span {
  height: 22px;
  width: 22px;
  margin-right: 10px;
}
header.header-section
  .header-main
  .right
  .header-list-container
  ul
  li.language-dropdown-container
  .language-sublist
  .language-sublist-item
  span.language-flag-span
  img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
header.header-section
  .header-main
  .right
  .header-list-container
  ul
  li.language-dropdown-container
  .language-sublist
  .language-sublist-item:last-child {
  margin-bottom: 0px !important;
}
header.header-section
  .header-main
  .right
  .header-list-container
  ul
  li.language-dropdown-container:hover
  .language-sublist {
  display: block;
}
header.header-section ul li.language-dropdown-container {
  /* Columns */
}
header.header-section ul li.language-dropdown-container .home-languages-options {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 13px;
  font-weight: 300;
  min-width: 50px;
}
header.header-section ul li.language-dropdown-container .home-languages-options:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
header.header-section ul li.language-dropdown-container .home-languages-options option {
  color: #000000;
  padding: 10px;
  width: 100%;
  text-align: left;
}
header.header-section ul li.language-dropdown-container .dropdown .btn-toggle-menu-dropdown {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 13px;
}
header.header-section ul li.language-dropdown-container .dropdown .btn-toggle-menu-dropdown::after {
  content: "";
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  padding: 3px;
}
header.header-section ul li.language-dropdown-container .dropdown-menu.show {
  display: block;
  width: 44rem;
  padding: 10px;
  min-height: 9rem;
  margin-left: -16rem !important;
}
header.header-section ul li.language-dropdown-container div.dropdown-multicol {
  width: 100%;
}
header.header-section ul li.language-dropdown-container div.dropdown-row > a.dropdown-item {
  display: inline-block;
  width: 24%;
}
header.header-section ul li.language-dropdown-container div.dropdown-multicol2 {
  width: 100%;
  margin-top: 1rem;
}
header.header-section ul li.language-dropdown-container div.dropdown-multicol2 .dropdown-col h6 {
  margin-bottom: 10px;
}
header.header-section
  ul
  li.language-dropdown-container
  div.dropdown-multicol2
  .dropdown-col
  h6.dropdown-sub-menu-title {
  font-size: 14px;
  color: #000000;
  text-transform: capitalize;
}
header.header-section
  ul
  li.language-dropdown-container
  div.dropdown-multicol2
  .dropdown-col
  h6.dropdown-sub-menu-title
  a:hover {
  color: #000000;
}
header.header-section ul li.language-dropdown-container div.dropdown-multicol2 .dropdown-col .dropdown-item {
  padding: 2px;
  font-size: 12px;
  font-weight: 300;
  text-transform: capitalize;
  color: #4a5a5e;
}
.about-us-banner header.header-section ul li.language-dropdown-container div.dropdown-multicol2 > div.dropdown-col {
  display: inline-block;
  width: 24%;
  margin-top: 1rem;
}

.language-dropdown-button {
  padding: 0;
  margin: 0;
  outline: 0;
  background: transparent;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}

.toggle-button-container {
  position: absolute;
  right: 20px;
  display: none;
}
.toggle-button-container .toggle-icon {
  height: 20px;
  width: 20px;
}
.toggle-button-container .toggle-icon img {
  height: 100%;
  width: 100%;
}

.header-user-link img {
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.country-flag-span {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.country-logo {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.dark-header-section {
  position: static !important;
}

.checkout-details-header {
  position: static !important;
}

.cart-item {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}
.cart-item .cart-icon {
  height: 20px;
  width: 20px;
}
.cart-item .counter-span {
  position: absolute;
  padding: 2px 6px;
  text-align: center;
  min-width: 15px !important;
  min-height: 15px !important;
  line-height: 15px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  display: inline-block;
  top: -12px;
  left: 15px;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}
.link-container .back-link-container .product-detail-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 0px;
}
.link-container .back-link-container .product-detail-link .link-span {
  margin-right: 10px;
  vertical-align: middle;
}
.link-container .back-link-container .product-detail-link .link-span img {
  width: 30px;
  height: auto;
}

.right-link-container .link-list {
  display: flex;
  align-items: center;
}
.right-link-container .link-list .link-list-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 0px;
  margin-left: 5px;
}
.right-link-container .link-list .link-list-item a {
  font-size: 14px;
  font-weight: 400;
  line-height: 0px;
}

.dropdown-menu-main {
  background: #ffffff;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 30px;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 5px;
  display: none;
}
.dropdown-menu-main .menu-top-heading {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 10px;
}
.dropdown-menu-main .dropdown-menu-list {
  padding: 0;
}
.dropdown-menu-main .dropdown-menu-list .dropdown-menu-item {
  margin: 0px 0px 7px 0px !important;
  display: block !important;
}
.dropdown-menu-main .dropdown-menu-list .dropdown-menu-item .dropdown-menu-link {
  font-size: 13px;
  font-weight: 300;
  color: #4a5a5e;
}
.dropdown-menu-main .dropdown-menu-list .dropdown-menu-item .dropdown-menu-link:hover {
  text-decoration: none !important;
}

.menu-dropdown-main-item {
  margin-left: 20px !important;
}
.menu-dropdown-main-item a:hover {
  text-decoration: none;
  color: #ffffff;
}

.menu-dropdown-main-item:hover .dropdown-menu-main {
  display: block !important;
}

@media (min-width: 992px) and (max-width: 1199px) {
  header.header-section .header-main .left .logo-container {
    height: 30px;
    width: 130px;
  }
  header.header-section .header-main .right .header-list-container ul li {
    display: inline-block;
    margin: 0px 10px;
  }
  header.header-section .header-main .right .header-list-container ul li .header-link {
    font-size: 13px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header.header-section .header-main .left .logo-container {
    height: 30px;
    width: 120px;
  }
  header.header-section .header-main .right .header-list-container ul li {
    display: inline-block;
    margin: 0px 10px;
  }
  header.header-section .header-main .right .header-list-container ul li .header-link {
    font-size: 13px;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  header.header-section .header-main {
    display: unset !important;
  }
  header.header-section .header-main .left .logo-container {
    height: 30px;
    width: 120px;
    line-height: 30px;
  }
  header.header-section .header-main .header-right {
    position: fixed;
    top: 0px;
    left: -150px;
    bottom: 0;
    background: #ffffff;
    z-index: 109;
    width: 150px;
    transition: all 0.3s ease-in-out;
  }
  header.header-section .header-main .header-right .header-list-container ul li {
    display: block !important;
    margin: 20px 20px !important;
  }
  header.header-section .header-main .header-right .header-list-container ul li .header-link {
    font-size: 13px;
    color: #000000;
  }
  header.header-section
    .header-main
    .header-right
    .header-list-container
    ul
    li.language-dropdown-container
    .language-dropdown-button {
    display: flex;
    align-items: center;
    outline: none !important;
    box-shadow: none !important;
    color: #000000;
  }
  header.header-section
    .header-main
    .header-right
    .header-list-container
    ul
    li.language-dropdown-container
    .language-dropdown-button
    .dropdown-icon-span
    .header-dropdown-icon
    path {
    stroke: #000000;
  }
  .toggle-button-container {
    right: 10%;
    display: block;
    top: 19px;
    cursor: pointer;
    z-index: 999;
  }
  .cart-item {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .left {
    left: 0px !important;
  }
  header.header-section ul li.language-dropdown-container .dropdown .btn-toggle-menu-dropdown {
    color: #000000;
    padding: 0px;
    font-size: 13px;
    color: #000000;
    font-weight: 300;
  }
  header.header-section ul li.language-dropdown-container .dropdown .btn-toggle-menu-dropdown::after {
    font-size: 13px;
    color: #000000;
    font-weight: 300;
    border: solid #000000;
    border-top: 0px;
    border-left: 0px;
  }
}
@media (min-width: 300px) and (max-width: 575px) {
  .toggle-button-container {
    right: 15px;
    top: 19px;
  }
  .product-detail-banner .banner-inner {
    padding-top: 2rem !important;
  }
  header.header-section ul li.language-dropdown-container div.dropdown-multicol2 > div.dropdown-col {
    display: block;
  }
  header.header-section ul li.language-dropdown-container .dropdown-menu.show {
    width: 100%;
    margin-left: 9rem !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  header.header-section ul li.language-dropdown-container .dropdown-menu.show {
    width: 24rem;
    margin-left: 8rem !important;
  }
  header.header-section ul li.language-dropdown-container div.dropdown-multicol2 > div.dropdown-col {
    width: 47%;
  }
}
@media (min-width: 768px) and (max-width: 1250px) {
  header.header-section ul li.language-dropdown-container .dropdown-menu.show {
    width: 28rem;
  }
  header.header-section ul li.language-dropdown-container div.dropdown-multicol2 > div.dropdown-col {
    width: 47%;
  }
}
footer {
  padding: 3rem 0rem 1rem;
  background: #000000;
}
footer .inner .footer-list-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .inner .footer-list-main .left p {
  color: #acbdc0;
}
footer .inner .footer-list-main .right {
  padding: 20px 0px;
}
footer .inner .footer-list-main .right ul li {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}
footer .inner .footer-list-main .right ul li:last-child {
  margin-right: 0px;
}
footer .inner .footer-list-main .right ul li a {
  font-size: 14px;
  font-weight: 300;
  color: #acbdc0;
}
footer .inner .footer-list-main .right ul li .social-link-icon {
  height: 20px;
  width: 20px;
}
footer .inner .footer-list-main .right ul li .facebook-social-link:hover path {
  fill: #28589c !important;
}
footer .inner .footer-list-main .right ul li .twitter-social-link:hover path {
  fill: #00acee !important;
}
footer .inner .footer-list-main .right ul li .instagram-social-link:hover path {
  fill: #e4000f !important;
}
footer .inner .footer-list-main .right ul li .linkdin-social-link:hover path {
  fill: #0072b1 !important;
}
footer .inner .footer-list-main .right .top-footer-list li {
  margin-right: 30px !important;
}
footer .inner .footer-list-main .right .top-footer-list li:first-child {
  margin-left: 0px !important;
}
footer .inner .footer-list-main .right .top-footer-list li a {
  color: #f8fbfb;
}
footer .inner .footer-list-main.footer-top {
  border-bottom: 1px solid gray;
  padding-bottom: 50px;
}

@media (min-width: 300px) and (max-width: 1199px) {
  footer .copyright-paragraph {
    margin-top: 10px;
  }
  footer .left {
    margin-right: 30px;
  }
  footer .left .logo-container {
    height: 30px;
    width: 180px;
  }
  footer .right {
    padding: 10px 0px !important;
  }
  footer .social-link-icon {
    height: 24px;
    width: 24px;
  }
  footer .footer-top {
    padding-bottom: 10px !important;
  }
}
.social-media-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.social-media-footer .social-media-footer-left .social-media-left-list {
  display: flex;
  align-items: center;
}
.social-media-footer .social-media-footer-left .social-media-left-list .social-media-left-item {
  margin-right: 15px;
}

.social-media-left-button {
  padding: 0;
  margin: 0;
  background: transparent !important;
  outline: none;
  box-shadow: none;
  border: none;
}
.social-media-left-button .social-media-footer-icon {
  height: 15px;
  width: 15px;
  -o-object-fit: contain;
  object-fit: contain;
}

.footer-social-media-content-container .likes-paragraph {
  font-size: 14px;
  font-weight: 700;
  color: #212529;
}
.footer-social-media-content-container .footer-paragraph {
  font-size: 12px;
  font-weight: 400;
  color: #212529;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
.footer-social-media-content-container .time-paragraph {
  font-size: 8px;
  font-weight: 700;
  color: #acbdc0;
}
.footer-social-media-content-container .social-media-footer-span {
  display: inline-block;
  margin-right: 5px;
  height: 15px;
  width: 15px;
}
.footer-social-media-content-container .social-media-footer-span img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.section-height-maximum {
  min-height: 40rem;
}

.max-width-80 {
  max-width: 600px;
}

.border-bottom-default {
  border-bottom: 1px solid #acbdc0;
  padding-bottom: 15px;
  margin-bottom: 15px;
} /*# sourceMappingURL=index.css.map */

