

/* Responsiveness custom */

@media (min-width: 300px) and (max-width: 575px) {
  form.form-control-container {
    width: 100%;
  }
  span.bt-crm-card-item {
    width: 100%;
  }
  .left-submenu-footer {
    place-content: flex-start;
    margin-bottom: 20px;
  }
  .footer-list-main {
    display: block !important;
  }
  footer .left {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  h2.heading-crm-title {
    font-size: 22px;
  }
  h1.heading-crm-title-title {
    max-width: 100%;
    font-size: 28px;
  }
  ul li.gallery-shop-images span.gallery-label-icon {
    width: 140px;
  }
  .about-us-banner {
    background-position: top;
  }
}

@media(min-width: 300px) and (max-width: 991px) {
  .toggle-button-container {
    background: black;
    padding: 6px 10px 8px 10px;
    border-radius: 4px;
  }
  form.form-control-container {
    width: 100%;
  }
  span.bt-crm-card-item {
    width: 100%;
  }
  .about-us-banner {
    background-position: top;
  }
}
@media (min-width: 991px) {
  .info-card-detail-content {
    margin-top: 7rem;
  }
}