
body {
  font-family: 'Jost', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}


.banner-career {
  padding: 18rem 0rem 4rem !important;
  background-image: url("../images/realstate/lines.png");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.banner-career .inner .banner-content-main {
  position: relative;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0rem;
  padding: 15px 0px 2px 0px;
}
.banner-career .inner .banner-content-main h5 {
  color: #ffffff;
  font-size: 30px;
}
.banner-career .inner .banner-content-main h5::after {
  content: "";
  position: absolute;
  left: 0;
  width: 60px;
  bottom: -10px;
  height: 2px;
  background: #ff0000;
}
.banner-career .inner p {
  color: #ffffff;
  padding-top: 40px;
}

.about-section-career .inner .row .col-sm-12 {
  padding: 40px 0px;
}

.about-section-work-info .inner .row .col-sm-12 {
  padding: 40px 0px;
}
.about-section-work-info .inner .row .col-sm-12 .section-heading-container h6 {
  font-size: 18px;
}

.services-section-career {
  background-color: #f8fbfb;
  margin: 40px 0px;
}

.service-career .service-career-box-col {
  padding: 0px;
}
.service-career .service-career-box {
  background-color: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  color: #000000;
  min-height: 200px;
  text-align: center;
  align-items: center;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-direction: column;
}
.service-career .service-career-box hr {
  border: 1px solid #dbebef;
  width: 100%;
}
.service-career .service-career-box p.service-form-description-text {
  font-size: 22px;
  text-align: left;
  color: #000000;
  font-weight: 500;
  text-transform: capitalize;
}
.service-career .service-career-box .service-career-box-inner-bottom .col-4 .service-career-box-inner-bottom-header {
  font-size: 12px;
  text-transform: capitalize;
}
.service-career .service-career-box .service-career-box-inner-bottom .col-4 .service-career-box-inner-bottom-des {
  font-size: 10px;
  color: #acbdc0;
  text-transform: capitalize;
}
.service-career .service-career-box .service-career-box-inner-bottom .col-4:not(:last-child) {
  border-right: 1px solid #dbebef;
}
.service-career .service-career-box:hover {
  background-color: #000000;
  z-index: 1;
}
.service-career .service-career-box:hover p {
  color: #ffffff;
}

.section-padding {
  padding: 70px 0px;
}

.section-header {
  align-items: center;
}
.section-header .section-heading-container .section-heading {
  position: relative;
  max-width: -moz-max-content;
  max-width: max-content;
  text-transform: capitalize;
}
.section-header .section-heading-container .section-heading::after {
  content: "";
  position: absolute;
  left: 0;
  width: 60px;
  bottom: -10px;
  height: 2px;
  background: #ff0000;
}
.section-header .section-heading-container h5.about-section-heading {
  max-width: 35rem;
}
.section-header .section-heading-container p {
  font-size: 16px;
  font-weight: 400;
  color: #212529;
}
.section-header .section-heading-container p.max-width-paragraph {
  max-width: 70%;
}

.about-section .about-content-main {
  margin-top: 9rem;
}
.about-section .about-footer-link-container {
  text-align: right;
  margin-top: 4rem;
}
.about-section .about-footer-link-container .footer-about-us-link {
  font-size: 18px;
  font-weight: 400;
  max-width: -moz-max-content;
  max-width: max-content;
}
.about-section .about-footer-link-container .footer-about-us-link:hover {
  color: inherit;
}
.about-section .about-footer-link-container .footer-about-us-link .about-us-span {
  display: inline-block;
  vertical-align: middle;
}
.about-section .about-footer-link-container .footer-about-us-link .about-us-span .arrow-icon {
  height: 15px;
  width: 15px;
  -o-object-fit: contain;
  object-fit: contain;
  margin-left: 10px;
}

.about-footer-link-container {
  text-align: right;
  margin-top: 4rem;
}
.about-footer-link-container .footer-about-us-link {
  font-size: 18px;
  font-weight: 400;
  max-width: -moz-max-content;
  max-width: max-content;
}
.about-footer-link-container .footer-about-us-link:hover {
  color: inherit;
}
.about-footer-link-container .footer-about-us-link .about-us-span {
  display: inline-block;
  vertical-align: middle;
}
.about-footer-link-container .footer-about-us-link .about-us-span .arrow-icon {
  height: 15px;
  width: 15px;
  -o-object-fit: contain;
  object-fit: contain;
  margin-left: 10px;
}

.banner-content-main h1.banner-text-description {
  font-weight: 300;
}

.banner-right-section {
  text-align: center;
  display: inline-block;
}
.banner-right-section span.banner-about-progress {
  display: inline-block;
  width: 325px;
  position: relative;
  height: 100%;
}
.banner-right-section span.banner-about-progress img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
  z-index: 1;
  border-radius: 4px;
  margin-top: 4rem;
}

.contact-us-link {
  margin-top: 0px !important;
  text-align: left !important;
}

.align-center {
  align-items: center;
}

.social-media-section {
  background-color: #f8fbfb;
  min-height: 700px;
}
.social-media-section .social-media-content-main .social-media-container {
  margin-top: 3rem;
}
.social-media-section .social-media-content-main .social-media-container .social-media-block {
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
.social-media-section .social-media-content-main .social-media-container .social-media-block .social-media-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.social-media-section
  .social-media-content-main
  .social-media-container
  .social-media-block
  .social-media-header
  .social-media-header-left {
  display: flex;
  align-items: center;
}
.social-media-section
  .social-media-content-main
  .social-media-container
  .social-media-block
  .social-media-header
  .social-media-header-left
  .profile-image-span {
  margin-right: 15px;
  height: 30px;
  width: 30px;
}
.social-media-section
  .social-media-content-main
  .social-media-container
  .social-media-block
  .social-media-header
  .social-media-header-left
  .profile-image-span
  .profile-icon {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50px;
}
.social-media-section
  .social-media-content-main
  .social-media-container
  .social-media-block
  .social-media-header
  .social-media-header-left
  .profile-name {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}
.social-media-section
  .social-media-content-main
  .social-media-container
  .social-media-block
  .social-media-header
  .social-media-header-right
  .dots-menu {
  height: auto;
  width: 15px;
  -o-object-fit: contain;
  object-fit: contain;
  cursor: pointer;
}
.social-media-section
  .social-media-content-main
  .social-media-container
  .social-media-block
  .social-media-image-container {
  height: 300px;
  width: 100%;
}
.social-media-section
  .social-media-content-main
  .social-media-container
  .social-media-block
  .social-media-image-container
  .social-media-image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}
.social-media-section .social-media-content-main .social-media-container .social-media-block .social-media-header-main {
  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.social-media-section .social-media-content-main .social-media-container .social-media-block .social-media-footer-main {
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  padding: 10px 10px;
  transition: all 0.3s ease-in-out;
}
.social-media-section .social-media-content-main .social-media-container .social-media-block:hover {
  background: #ffffff;
  transform: scale(1.1);
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.social-media-section
  .social-media-content-main
  .social-media-container
  .social-media-block:hover
  .social-media-footer-main {
  transform: translateX(0px);
  opacity: 1;
  visibility: visible;
}
.social-media-section
  .social-media-content-main
  .social-media-container
  .social-media-block:hover
  .social-media-header-main {
  transform: translateX(0px);
  opacity: 1;
  visibility: visible;
}
.social-media-section .social-media-content-main .social-media-container .social-media-block:hover .social-media-image {
  border-radius: 0px;
}

.bottom-section .bottom-section-main {
  max-width: 1000px;
  margin: 0 auto;
}

.banner-real-state {
  background-image: url("../images/realstate/lines.png");
  background-color: #000000;
}
.banner-real-state .banner-content-main-services h1 {
  padding-bottom: 5rem;
  text-transform: capitalize;
}
.banner-real-state .banner-content-main-services h1.h1 {
  font-weight: 300;
}



.about-us-banner {
  background-image: url("../images/banner/background.png") !important;
  padding-bottom: 2rem !important;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding: 9rem 0rem 5rem !important;
}
.about-us-banner::after {
  display: none;
}
.about-us-banner .about-us-banenr-content .about-us-banner-heading .banner-heading-span {
  font-weight: 300 !important;
}
.about-us-banner .about-us-banenr-content .banner-bottom-container .banner-bottom-heading {
  color: white !important;
}
.about-us-banner .about-us-banner-right {
  height: 100%;
  width: 100%;
  position: relative;
}
.about-us-banner .about-us-banner-right .banner-right-image-container {
  height: 520px;
  margin: 0 auto;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
}
.about-us-banner .about-us-banner-right .banner-right-image-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}

.product-about-section .product-left-container {
  max-width: 50%;
}

.product-services-accounting-section.product-theme-detail-template {
  background-color: #f8fbfb;
}
.product-services-accounting-section .product-left-container {
  max-width: 100%;
}
.product-services-accounting-section
  .product-left-container
  .produt-about-detail-financial
  p.financial-description-text-paragraph {
  padding: 10px;
}
.product-services-accounting-section
  .product-left-container
  .produt-about-detail-financial
  p.financial-description-text-paragraph:hover {
  background-color: #000000;
  color: #ffffff;
}

.produt-detail-accordion-collapse .card-detail-accordion {
  background-color: #ffffff;
  margin-bottom: 10px;
  border: 1px solid transparent;
}
.produt-detail-accordion-collapse .card-detail-accordion .card-header {
  background-color: #ffffff;
  border: none;
}
.produt-detail-accordion-collapse .card-detail-accordion .card-header a.btn-header-link {
  font-size: 18px;
  font-weight: 0;
  color: #000000;
}

.card-view-map {
  background-color: #000000;
  border-radius: 4px;
  padding: 15px;
  min-height: 350px;
  width: 350px;
  margin: 10px;
  position: absolute;
  left: 50px;
  z-index: 2;
  top: 37rem;
}
.card-view-map p.card-map-heading {
  border-bottom: 0.5px solid #acbdc0;
  padding-bottom: 15px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
}
.card-view-map .map-address-format {
  display: flex;
  justify-content: space-between;
}
.card-view-map .map-address-format .item-one-template span.icon-bar-template {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  width: 20px;
}
.card-view-map .map-address-format .item-one-template span.icon-bar-template img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.card-view-map .map-address-format .item-two-template {
  flex: 1;
  margin-left: 2rem;
}
.card-view-map .map-address-format .item-two-template label.top-address-bar {
  font-size: 14px;
  font-weight: 400;
  color: #acbdc0;
  margin-bottom: 0px;
}
.card-view-map .map-address-format .item-two-template p.address-bar-paragraph {
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
}

.contact-us-form-section .form-group .form-control-field-input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #acbdc0;
  border-radius: 0px;
  margin: 8px;
  outline: none;
  box-shadow: none;
  color: #acbdc0;
  font-size: 16px;
  font-weight: 400;
}
.contact-us-form-section .form-group .form-control-field-input::-moz-placeholder {
  color: #acbdc0;
  font-size: 16px;
  font-weight: 400;
}
.contact-us-form-section .form-group .form-control-field-input::placeholder {
  color: #acbdc0;
  font-size: 16px;
  font-weight: 400;
}
.contact-us-form-section button.btn-theme-default {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  border: none;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.04);
  min-width: 200px;
}
.contact-us-form-section button.btn-theme-default:hover {
  background-color: #000000;
  color: #ffffff;
}

.financial-services-right span.financial-gap-portfoltio {
  display: inline-block;
  width: 350px;
  height: 100%;
}
.financial-services-right span.financial-gap-portfoltio img {
  width: 100%;
  height: 100%;
  display: inline-block;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 4px;
}

.team-section .team-card-main {
  margin-top: 4rem;
}
.team-section .team-card-main .team-card {
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.0705882353);
}
.team-section .team-card-main .team-card .card-image-container {
  width: 100%;
  height: 400px;
}
.team-section .team-card-main .team-card .card-image-container .team-card-image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4px;
}
.team-section .team-card-main .team-card .team-card-footer {
  padding: 30px 15px;
}
.team-section .team-card-main .team-card .team-card-footer .team-card-footer-heading {
  font-size: 24px;
  font-weight: 600;
}
.vision-section-detail {
  border-bottom: 1.5px solid #dedede;
  padding-bottom: 2rem;
}
.vision-section .vision-main .vision-card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.0392156863);
  background: #f4f4f4;
  min-height: 320px;
  background-image: url("../images/icons/2.png");
  background-repeat: no-repeat !important;
  background-size: 120px 150px !important;
  background-position: top left !important;
  background-position-x: 20px !important;
  background-position-y: 20px !important;
}
.vision-section .vision-main .vision-card.vision-card-2 {
  background-image: url("../images/icons/2.png") !important;
}
.vision-section .vision-main .vision-card.vision-card-3 {
  background-image: url("../images/icons/3.png") !important;
}
.vision-section .vision-main .vision-card .vision-content-main {
  margin-top: 0rem;
}
.vision-section .vision-main .vision-card .vision-content-main .vision-paragraph {
  color: #000000;
}
.vision-section .vision-main .vision-card:hover {
  background-color: #ffffff;
}
.testimonial-paragraph {
  font-weight: 300;
  color: #4a5a5e;
}

.testimonials-section .testimonials-main .testimonials-card {
  padding: 20px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.0392156863);
}
.testimonials-section .testimonials-main .testimonials-card .testimonial-content-main {
  padding-bottom: 30px;
  border-bottom: 1px solid #dbebef;
}
.testimonials-section .testimonials-main .testimonials-card .testimonial-content-main .testimonials-heading {
  font-size: 22px;
  font-weight: 500;
  color: #000000;
}
.testimonials-section .testimonials-main .testimonials-card .testimonial-card-footer {
  padding: 20px 0px 10px;
}
.testimonials-section .testimonials-main .testimonials-card .testimonial-card-footer h6 {
  font-weight: 600;
  color: #000000;
}

.services-banner {
  background-image: url("../images/banner-overlay-image.png") !important;
  background: black;
  padding: 15rem 0rem 10rem !important;
}
.services-banner .services-banner-heading {
  font-weight: 300 !important;
}
.services-banner::after {
  display: none !important;
}

.our-services .our-services-left {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.our-services .our-services-image-container {
  height: 470px;
  width: 450px;
}
.our-services .our-services-image-container img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.margin-left-auto {
  margin-left: auto !important;
} /*# sourceMappingURL=styles.css.map */

/* Custom Style Task */
.home-landing-logo {
  width: 111px;
  height: 77px;
  display: inline-block;
}
.header-banner-section {
  /* border-bottom: 1.5px solid #dfdfdf; */
  padding-bottom: 2rem !important;
}
.product-banner-about-section {
  background-image: url(../images/banner/bg-left.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  /* padding: 15rem 0px; */
}
.bt-crm-left-card {
  text-align: right;
}
.bt-crm-right-card {
  text-align: left;
}
span.bt-crm-card-item {
  width: 450px;
  height: 450px;
  display: inline-block;
}
span.bt-crm-card-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
h2.heading-crm-title {
  font-size: 32px;
  font-weight: 600;
  color: #5f2c7f;
}
h6.crm-text-description {
  font-size: 20px;
  font-weight: 500;
  color: #5f2c7f;
}
p.crm-text-paragraph {
  font-size: 17px;
  font-weight: 400;
  color: #303030;
}
span.vision-icon-label {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}
span.vision-icon-label img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
h5.card-sub-heading {
  font-size: 22px;
  font-weight: 500;
  color: #5f2c7f;
}
p.crm-text-description {
  color: #5f2c7f;
  margin-top: 10px;
}
span.features-arrow-label {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
}
span.features-arrow-label img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.vision-content-main-card {
  text-align: center;
  background-color: #ffffff !important;
  box-shadow: none !important;
  border-radius: 8px !important;
}
.vision-content-main-card:hover {
  background-color: #5f2c7f !important;
}
h5.card-sub-heading-bold {
  font-weight: 600;
}
.vision-content-main-card:hover p.crm-text-paragraph-description {
  color: #ffffff;
}
.vision-content-main-card:hover h5.card-sub-heading {
  color: #f69322;
}

p.crm-text-paragraph-description {
  font-size: 15px;
  font-weight: 400;
  color: #606060;
}
.vision-content-main-card:hover .btn-primary-content {
  background-color: #f69322;
  color: #ffffff;
}
.vision-content-main-card:hover .pricing-features-card {
  border-bottom: 1px solid #5f2c7f;
}
.vision-content-main-card:hover .btn-primary-content-outer {
  background-color: #ffffff;
  color: #5f2c7f;
}
.btn-primary-content {
  font-size: 16px;
  font-weight: 500;
  color: #1b2534;
  background-color: #f4f4f4;
  padding: 5px;
  min-width: 100px;
  text-align: center;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  text-transform: capitalize;
}
.pricing-features-card {
  border-bottom: 1px solid #dedede;
  padding-bottom: 20px;
}
.btn-primary-content-outer {
  background-color: #ffffff;
  padding: 8px;
  border: 1px solid #303030;
  border-radius: 3px;
}
.product-banner-workflow-section {
  background-image: url(../images/banner/bg-right.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.bg-footer-form-section {
  background-image: url(../images/banner/bg-footer.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 3rem 1rem;
  margin-top: 2rem;
  background-size: cover;
}
.card-workflow-listing {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  display: flex;
  padding: 15px;
  margin-top: 1rem;
}
.crm-right-card-content-section {
  margin-bottom: 3rem;
}
p.crm-text-paragraph-content {
  font-size: 15px;
}
h2.heading-crm-title-content {
  color: #47cfff;
}
.order-box-right-content {
  margin-left: 1rem;
}
.footer-sub-form-contact {
  text-align: center;
}
form.form-control-container {
  display: inline-block;
  width: 600px;
  text-align: left;
}
.form-control-data-type {
  font-size: 15px;
  font-weight: 500;
  color: #797979;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  min-height: 50px;
  margin-bottom: 1rem;
}
.form-control-data-type::placeholder {
  font-size: 15px;
  font-weight: 500;
  color: #797979;
}

label.form-control-label-title {
  font-size: 17px;
  font-weight: 400;
  color: #303030;
}
.btn-primary-submit-theme {
  background-color: #5f2c7f;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 500;
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  box-shadow: none;
  min-width: 150px;
}
footer.footer-main-menu-content {
  background-color: #5f2c7f;
  padding: 2rem 0rem 1rem;
}
footer .inner .footer-list-main.footer-top {
  border-bottom: 1px solid gray;
  padding-bottom: 10px !important;
}
.logo-container {
  width: 80px;
  height: 100%;
  display: inline-block;
}
.left-submenu-footer {
  display: flex;
  align-items: center;
  flex: 1;
  place-content: flex-end;
}
p.text-footer-description {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff !important;
}
span.footer-sub-icons-label {
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 10px;
}
span.footer-sub-icons-label img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-list-main {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.footer-copy-right-section {
  background-color: #482260;
  padding: 20px;
}
p.copy-right-text-footer {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
h1.heading-crm-title-title {
  font-size: 36px;
  font-weight: 600;
  color: #5f2c7f;
  max-width: 70%;
}
h6.crm-text-description-dark {
  color: #303030;
  font-size: 16px;
  font-weight: 400;
}
.btn-primary-submit-navbar {
  min-width: 100px;
}
ul li.gallery-shop-images {
  display: inline-block;
}
ul li.gallery-shop-images span.gallery-label-icon {
  width: 160px;
  height: 100%;
  display: inline-block;
}
ul li.gallery-shop-images span.gallery-label-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about-us-banner-left {
  margin-top: 6rem;
}
